body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.navigation {
  position: absolute;
  left: 25px;
  top: 25px;
  font-size: 16px;
  word-spacing: 25px;
}

a:link {
  text-decoration: none;
  color: #192231;
}

a:hover {
  color: #0066FF;
}

.choices {
  width: 580px;
  height: 680px;
  margin: 0 auto;
}

.movie {
  float: left;
  width: 270px;
  height: 320px;
  text-align: center;
  padding-top: 10px;
  margin: 5px;
  border: 1px solid #a8a8a8;
  background-color: #f1f1f1;
  cursor: pointer;
}

.movie:hover{
  background: #FFFF99;
  opacity: 1;
}

.poster {
  width: 230px;
  height: 270px;
}

label {
  font-size: 19px;
}

label span {
  background-color: #000000;
}

.chosen {
  opacity: 1;
  background-color: #66CCFF;
}

.notchosen {
  opacity: 0.5;
}

.result {
  font-size: 20px;
  display: none;
  width: 650px;
  height: 500px;
  padding: 20px;
  margin: 0 auto;
}

.gif {
  height: 250px;
}

.chosen-title {
  color: #FF0000;
  font-size: ;
}