body {
  background-color: #A3A3C2;
}

.wrapper {
  -webkit-perspective: 3000px;
  -webkit-perspective-origin: 50% 0;
  -moz-perspective: 3000px;
  -moz-perspective-origin: 50% 0;
  perspective: 3000px;
  perspective-origin: 50% 0;
}

.card {
  position: relative;
  top: 100px;
  margin: 0 auto;
  width: 600px;
  height: 400px;
  -webkit-transition: -webkit-transform 2s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -webkit-transform 2s linear;
  -moz-transform-style: preserve-3d;
  -o-transition: -webkit-transform 2s linear;
  -o-transform-style: preserve-3d;
  transition: transform 2s linear;
  transition-style: preserve-3d;
}

.paper {
  position: absolute;
  width: 600px;
  height: 400px;
}

.paper.bottom {
  background-color: #1A0000;
  -webkit-transform: translateY(200px) translateZ(200px) rotateX(-90deg) ;
  -moz-transform: translateY(200px) translateZ(200px) rotateX(-90deg) ;
  -ms-transform: translateY(200px) translateZ(200px) rotateX(-90deg) ;
  -o-transform: translateY(200px) translateZ(200px) rotateX(-90deg) ;
  transform: translateY(200px) translateZ(200px) rotateX(-90deg) ;
}

.paper.back {
  padding: 0;
  margin: 0;
  background-color: #FFD700;
  border-top: 2px solid #000000;
}


#emperor {
  width: 200px;
  height: 300px;
  -webkit-transform: translateZ(101px) translateY(-150px) translateX(70px);
  -moz-transform: translateZ(101px) translateY(-150px) translateX(70px);
  -o-transform: translateZ(101px) translateY(-150px) translateX(70px);
  -ms-transform: translateZ(101px) translateY(-150px) translateX(70px);
  transform: translateZ(101px) translateY(-150px) translateX(70px);
}

#empress {
  width: 200px;
  height: 300px;
  -webkit-transform: translateZ(101px) translateY(-150px) translateX(130px);
  -moz-transform: translateZ(101px) translateY(-150px) translateX(130px);
  -o-transform: translateZ(101px) translateY(-150px) translateX(130px);
  -ms-transform: translateZ(101px) translateY(-150px) translateX(130px);
  transform: translateZ(101px) translateY(-150px) translateX(130px);
}

.step {
  width: 600px;
  height: 100px;
}

.step.front {
  background-color: #E60000;
  -webkit-transform: translateZ(100px) translateY(200px);
  -moz-transform: translateZ(100px) translateY(200px);
  -o-transform: translateZ(100px) translateY(200px);
  -ms-transform: translateZ(100px) translateY(200px);
  transform: translateZ(100px) translateY(200px);
}

.step.top {
  background-color: #660000;
  -webkit-transform: translateZ(50px) translateY(250px) rotateX(-90deg);
  -moz-transform: translateZ(50px) translateY(250px) rotateX(-90deg);
  -o-transform: translateZ(50px) translateY(250px) rotateX(-90deg);
  -ms-transform: translateZ(50px) translateY(250px) rotateX(-90deg);
  transform: translateZ(50px) translateY(250px) rotateX(-90deg);
}
