body {
  background-color: #A3A3C2;
  font-family: 'Arial', 'sans serif';
  text-align: center;
  font-size: 18px;
  color: #383838;
}

.navigation {
  position: absolute;
  top: 30px;
  left: 40px;
  word-spacing: 40px;
  font-size: 18px;
}

a:link {
  color: #383838;
}

a:visited {
  color: #181818;
}

h1 {
  padding: 20px;
}

.nav {
  border-radius: 25px;
  border: 2px solid #383838;
  width: 50px;
  height: 50px;
  margin: 20px;
  font-size: 18px;
  background-color: #FFFFFF;
  color: #383838;
  cursor: pointer;
}

.nav:focus {
  outline: none;
}

.nav:hover {
  background-color: #383838;
  color: #FFFFFF;
}

.wrapper {
  -webkit-perspective: 3000px;
  -webkit-perspective-origin: 50% 0;
  -moz-perspective: 3000px;
  -moz-perspective-origin: 50% 0;
  perspective: 3000px;
  perspective-origin: 50% 0;
}

.card {
  position: relative;
  top: 20px;
  margin: 0 auto;
  width: 600px;
  height: 400px;
  -webkit-transition: -webkit-transform 2s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -webkit-transform 2s linear;
  -moz-transform-style: preserve-3d;
  -o-transition: -webkit-transform 2s linear;
  -o-transform-style: preserve-3d;
  transition: transform 2s linear;
  transition-style: preserve-3d;
}

.paper {
  position: absolute;
  width: 600px;
  height: 400px;
}

.paper.bottom {
  background-color: #1A0000;
  -webkit-transform: translateY(200px) translateZ(200px) rotateX(-90deg) ;
  -moz-transform: translateY(200px) translateZ(200px) rotateX(-90deg) ;
  -ms-transform: translateY(200px) translateZ(200px) rotateX(-90deg) ;
  -o-transform: translateY(200px) translateZ(200px) rotateX(-90deg) ;
  transform: translateY(200px) translateZ(200px) rotateX(-90deg) ;
}

.paper.back {
  padding: 0;
  margin: 0;
  background-color: #FFD700;
}


#emperor {
  width: 200px;
  height: 300px;
  -webkit-transform: translateZ(101px) translateY(-150px) translateX(-30px);
  -moz-transform: translateZ(101px) translateY(-150px) translateX(-30px);
  -o-transform: translateZ(101px) translateY(-150px) translateX(-30px);
  -ms-transform: translateZ(101px) translateY(-150px) translateX(-30px);
  transform: translateZ(101px) translateY(-150px) translateX(-30px);
}

#empress {
  width: 200px;
  height: 300px;
  -webkit-transform: translateZ(101px) translateY(-150px) translateX(40px);
  -moz-transform: translateZ(101px) translateY(-150px) translateX(40px);
  -o-transform: translateZ(101px) translateY(-150px) translateX(40px);
  -ms-transform: translateZ(101px) translateY(-150px) translateX(40px);
  transform: translateZ(101px) translateY(-150px) translateX(40px);
}

.step {
  width: 600px;
  height: 100px;
}

.step.front {
  background-color: #E60000;
  -webkit-transform: translateZ(100px) translateY(200px);
  -moz-transform: translateZ(100px) translateY(200px);
  -o-transform: translateZ(100px) translateY(200px);
  -ms-transform: translateZ(100px) translateY(200px);
  transform: translateZ(100px) translateY(200px);
}

.step.top {
  background-color: #660000;
  -webkit-transform: translateZ(50px) translateY(250px) rotateX(-90deg);
  -moz-transform: translateZ(50px) translateY(250px) rotateX(-90deg);
  -o-transform: translateZ(50px) translateY(250px) rotateX(-90deg);
  -ms-transform: translateZ(50px) translateY(250px) rotateX(-90deg);
  transform: translateZ(50px) translateY(250px) rotateX(-90deg);
}
