body {
  font-family: 'Indie Flower', cursive;
  background-color: #F3E2A9;
  font-size: 30px;
}

h1 {
  text-align: center;
  font-size: 35px;
}

.score-board {
  width: 400px;
  height: 100px;
  font-size: 20px;
  margin: auto;
}

.winner {
  display: none;
  position: absolute;
  top: 60px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #F3E2A9;
  z-index: 55;
}

.navigation {
  position: absolute;
  top: 15px
  left: 15px;
  height: 50px;
  font-size: 20px;
  width: 100px;
  z-index: 5;
}

.start-game {
  font-size: 25px;
  position: absolute;
  top: 60px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #F3E2A9;
  z-index: 50;
}

#start-button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: #04B404;
}

.play-again-button {
  width: 120px;
  height: 50px;
  font-size: 20px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: #04B404;
}


.play-again {
  font-size: 40px;
  color: #FFFFFF;
  position: absolute;
  top: 60px;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 55;
}

.play-again-text {
  padding-top: 200px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;
  z-index: 50;
}

.play-again-background {
  font-size: 40px;
  color: #FFFFFF;
  background-color: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0.7;
  z-index: 40;
}

.field {
  margin: auto;
  width: 500px;
  height: 510px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #B19776;
}

.hole-container {
  padding: 25px;
  position: relative;
  width: 110px;
  height: 120px;
  float: left;

}

.hole {
  width: 120px;
  height: 40px;
  background-color: #61380B;
}

.top {
  z-index: 1;
  -moz-border-radius: 50px 50px 0 0;
  -webkit-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
}

.bottom {
  position: relative;
  z-index: 100;
  -moz-border-radius: 0 0 50px 50px;
  -webkit-border-radius: 0 0 50px 50px;
  border-radius: 0 0 50px 50px;
  z-index: 2;
}

.mole {
  padding-left: 5px;
  position: absolute;
  bottom: 0px;
  width: 115px;
  z-index: 0;
}

.hider {
  position: absolute;
  bottom: 0px;
  width: 125px;
  height: 100px;
  background-color: #B19776;
  z-index: 1;
}

.up {
  visibility: visible;
  animation: pop 4s;
  animation-fill-mode: forward;
  -webkit-animation: pop 4s;
  -webkit-animation-fill-mode: forward;
  -moz-animation: pop 4s;
  -moz-animation-fill-mode: forward;
  -o-animation: pop 4s;
  -o-animation-fill-mode: forward;
}

@keyframes pop {
  0% {bottom: 0px;}
  50% {bottom: 75px;}
  100% {bottom: 0px;}
}

@-moz-keyframes pop {
  0% {bottom: 0px;}
  50% {bottom: 75px;}
  100% {bottom: 0px;}
}

@-webkit-keyframes pop {
  0% {bottom: 0px;}
  50% {bottom: 75px;}
  100% {bottom: 0px;}
}

@-o-keyframes pop {
  0% {bottom: 0px;}
  50% {bottom: 75px;}
  100% {bottom: 0px;}
}
