body {

}

.field {
  margin: auto;
  width: 500px;
  height: 510px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #B19776;
}

.hole-container {
  padding: 25px;
  position: relative;
  width: 110px;
  height: 120px;
  float: left;

}

.hole {
  width: 120px;
  height: 40px;
  background-color: #61380B;
}

.top {
  z-index: 1;
  -moz-border-radius: 50px 50px 0 0;
  -webkit-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
}

.bottom {
  position: relative;
  z-index: 100;
  -moz-border-radius: 0 0 50px 50px;
  -webkit-border-radius: 0 0 50px 50px;
  border-radius: 0 0 50px 50px;
  z-index: 2;
}

.mole {
  padding-left: 5px;
  position: absolute;
  bottom: 0px;
  width: 115px;
  z-index: 0;
}

.hider {
  position: absolute;
  bottom: 0px;
  width: 125px;
  height: 100px;
  background-color: #B19776;
  z-index: 1;
}

.up {
  visibility: visible;
  animation: pop 3s;
  animation-fill-mode: forward;
  -webkit-animation: pop 3s;
  -webkit-animation-fill-mode: forward;
  -moz-animation: pop 3s;
  -moz-animation-fill-mode: forward;
  -o-animation: pop 3s;
  -o-animation-fill-mode: forward;
}

@keyframes pop {
  0% {bottom: 0px;}
  50% {bottom: 75px;}
  100% {bottom: 0px;}
}

@-moz-keyframes pop {
  0% {bottom: 0px;}
  50% {bottom: 75px;}
  100% {bottom: 0px;}
}

@-webkit-keyframes pop {
  0% {bottom: 0px;}
  50% {bottom: 75px;}
  100% {bottom: 0px;}
}

@-o-keyframes pop {
  0% {bottom: 0px;}
  50% {bottom: 75px;}
  100% {bottom: 0px;}
}
