body {
  font-family: 'Arial', 'Verdana';
  font-size: 20px;
  text-align: center;
}

.navigation {
  position: absolute;
  left: 10px;
  top: 10px;
}

#sandwich {
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sandwichcontainer {
  width: 800px;
  height: 500px;
  margin: auto;
  position: relative;
}

.fly {
  width: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
}