body {
 background: #E6E6E6;
 text-align: center;
 font-family: 'Arial';
}

h1 {
  font-size: 45px;
  padding-top: 50px;
}

.navigation {
  position: absolute;
  left: 20px;
  top: 20px;
  word-spacing: 10px;
  text-decoration: none;
}

#umbrella {
  position: absolute;
  width: 280px;
  height: 230px;
  z-index: 3;
}

#frog {
  position: absolute;
  width: 150px;
  z-index: 2;
}

.stage {
  position: absolute;
  background-color: #E6E6E6;
  width: 250px;
  height: 1000px;
}

.rain {
  position: absolute;
  top: -20px;
  height: 20px;
  width: 20px;
  background-color: #58D3F7;
  border-radius: 50%;
  border-top-right-radius: 0;

  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.raining {
  animation: rain 5s infinite ease-in;
  -webkit-animation: rain 5s infinite ease-in;
  -moz-animation: rain 5s infinite ease-in;
  -o-animation: rain 5s infinite ease-in;
}

.rain-container {
  width: 100vw;
  height: 80vh;
  background-color: #E6E6E6;
}

@keyframes rain {
  0% {top: -20px;}
  100% {top: 1000px}
}

@-webkit-keyframes rain {
  0% {top: -20px;}
  100% {top: 1000px;}
}

@-moz-keyframes rain {
  0% {top: -20px;}
  100% {top: 1000px;}
}

@-o-keyframes rain {
  0% {top: -20px;}
  100% {top: 1000px;}
}


