body {
  height: 100%;
}

.key {
  position: relative;
  float: left;
  width: 50px;
  height: 400px;
  border: 1px solid #000000;
}

.content {
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px
}

#one {
  background-color: #000000;
}

#two {
  background-color: #FFFFFF;
}

.navigation {
  font-family: Arial;
  font-size: 25px;
  position: absolute;
  left: 20px;
  top: 20px;
  letter-spacing: 2px;
}

a:visited {
  color: #808000;
}

a:hover {
  color: #800000;
}