.playagain {
  visibility: hidden;
}

body {
  font-family: "Optima", "Tahoma";
  text-align: center;
  background-color: white;
}

#question {
  padding: 30px;
  font-family: "Andale Mono";
  font-size: 25px;
  font-weight: bold;
  color: #02026d;
  text-shadow: -1px 1px 0px rgba(60,0,0,0.2);
  background-color: #ECF6CE;
  position: fixed;
  top: 50px;
  width: 100%;
}

#turns {
  font-size: 30px;
  padding-top: 30px;
  height: 50px;
  position: fixed;
  top: 250px;
  width: 100%;
}

#userguess {
  padding-top: 0px;
  position: fixed;
  top: 350px;
  width: 100%;
  text-align: center;
}

#result {
  height: 100px;
  position: fixed;
  top: 500px;
  font-size: 30px;
  width: 100%;
}

footer {
  background-color: #FE2E64;
  font-size: 20px;
  height: 100%;
  width: 150px;
  padding: 5px;
  letter-spacing: 3px;
  position: fixed;
  left: 50px;
  top: 0px;
  opacity: 0.7;
}

input[type=submit] {
  padding:10px 15px; 
  background:#ccc; border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  font-size: 30px;
  position: fixed;
  left: 900;
}

input[type=text]{
  transition: box-shadow 0.3s, border 0.3s;
}

input[type=button]{
  position: fixed;
  top: 400;
  padding:5px 15px; 
  background:#ccc; border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  font-size: 35px;
}

.playagain {
  width: 100%;
  text-align: center;
  padding-right: 30px;
}