body
{
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

$grey-1: rgba(0, 0, 0, 0.2);
$title-grey: #848484;
$black: #242424;

$margin-bottom: 40px;
$border-padding: 40px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -mos-border-radius: $radius;
          borderradius: $radius;  
}

.layout__webinars
{
    height:                 auto;
    overflow-y:             auto;
    overflow-x:             hidden;
    width:                  100%;
    .wrapper
    {
        height:                 100vh;
    }
    .container
    {
        margin:                 0 auto;
        padding:                130px 0;
        overflow:               hidden;
    }
    .introduction
    {
        color:                  #242424;
        font-size:                   50px;
        margin:                 80px 0 55px;
        text-align:             center;
    }
    .title
    {
        float:                  left;
        position:               relative;
        right:                  45px;
        text-align:             right;
        width:                  20%;
        font:                   20px;
        color:                  #848484;
    }
    .section
    {
        width: 875px;
        margin: 0 auto;
        margin-bottom: $margin-bottom;

        .nested
        {
          display: inline-block;
          width: 80%;
          padding-bottom: $border-padding;
          border-bottom: 1px solid $grey-1;
        }
        .webinar
        {
          float:left;
          width: 49%;
          height: 180px;
          position: relative;
          color: #FFFFFF;
        }
        h2
        {
          font-size: 20px;
          padding: 15px 30px;
        }

      .date
      {
        padding: 0 30px;
        font-size: 15px;
      }

      .webinar-btn
      {
        cursor: pointer;
        border: none;
        padding: 10px 35px;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.3);
        color: #FFFFFF;
        left: 30px;
        bottom: 20px;
        font-size: 15px;
        @include border-radius(2px);
      }

      .webinar-btn:hover
      {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
    .featured
    {
      .webinar
      {
      background-image: url("feature.png");
      width: 100%;
      height: 390px;
      }
      h2 
      {
        padding-top: 280px;
        font-size: 30px;
      }
      .feature-watch
      {
        position: absolute;
        left: 180px;
        bottom: 30px;
        display: inline-block;
      }
      .webinar-btn
      {
        float: left;
      }
      .date
      {
        width: auto;
        display: inline-block;
        padding: 0 0 0 15px;
      }
    }
  .upcoming 
  {
    .webinar.left-side 
    {
      background-color: #B7D9E9;
      margin-right: 2%;

      h2
      {
        color: #2C81F7;
      }
      .date
      {
        color: #4F7BAF;
      }
      .webinar-btn
      {
        color: #6991BC;
      }
    }

    .webinar.right-side
    {
      background-color: #ACE6C4;
      
      h2
      {
        color: #19AA37;
      }
      .date
      {
        color: #4E8A59;
      }
      .webinar-btn
      {
        color: #53A169;
      }
    }
  }

  .latest
  {
    margin-bottom: 100px;
    
    .webinar.left-side
    {
      margin-right: 2%;
      background-image: url("latest-left.png");
    }
    .webinar.right-side
    {
      background-image: url("latest-right.png");
    }
  }
}