body
{
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$grey-1: rgba(0, 0, 0, 0.2);
$black: #242424;

.layout 
{
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;

  .introduction
  {
    margin: 130px 0 55px;
    text-align: center;
    color: $black;
    font-size: 55px;
    font-weight: 300;
  }

  .title
  {
    float: left;
    position: relative;
    right: 45px;
    text-align: right;
    width: 20%;
  }
}

.section
{
  width: 875px;
  margin: 0 auto;

  .nested
  {
    display: inline-block;
    height: 310px;
    width: 80%;
    border-bottom: 1px solid $grey-1;

    .webinar
    {
      float:left;
      width: 49%;
    }
  }
}

.upcoming 
{
  .webinar.left-side 
  {
    background-color: #B7D9E9;
    margin-right: 2%;

    h2
    {
      color: #2C81F7;
    }
  }

  .webinar.right-side
  {
    background-color: #ACE6C4;

    h2
    {
      color: #19AA37;
    }
  }
}
