/* Apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
	color: #505756;
	font-family: Helvetica, Arial;
	font-weight: 350;
	font-size: 23px;
}

header {
	text-align: left;
	font-family: Arial;
	font-size: 30px;
	font-weight: 500;
	color: #0ABAB5;
	margin-left: 20px;
	margin-top: 40px;
}

h2 {
	font-family: Helvetica;
	color: orange;
	font-size: 25px;
}

h3 {
	font-family: Helvetica;
	text-transform: uppercase;
	color: #0ABAB5;
	font-size: 20px;
}

.intro {
	margin-left: 20px;
}

.today {
	padding: 20px;
	text-align: center;
}

.contact {
	padding-left: 20px;
}

.complete {
	padding-left: 20px;
	font-family: Helvetica;
	font-size: 20px;
}
