body {
  background-color: #729FFD;
  font-family: 'Open Sans Condensed', sans-serif;
}

div.navigation {
  width: 100vw;
  background-color: #4285F4;
  height: 40px;
  padding: 10px;
}

#menu {
  width: 25px;
  margin: 10px;
}

#blog {
  font-size: 19px;
  letter-spacing: 2px;
  font-weight: 100;
  position: relative;
  margin-left: 20px;
  top: -16px;
}

a:link {
  color: #FFFFFF;
  text-decoration: none;
}

a:visited {
  color: #FFFFFF;
}

div.scene {
  margin: 100px auto;
  width: 500px;
  height: 500px;

  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

div.sun {
  width: 220px;
  height: 220px;
  position: relative;
  top: 50%;
  margin-top: -110px;
  left: 50%;
  margin-left: -110px;
  z-index: 3;

  transition: 5s ease;
}

@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

div.center {
  position: absolute;
  left: 50%;
  margin-left: -80px;
  top: 50%;
  margin-top: -80px;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: #FBE472;
  z-index: 5;
}

div.back1 {
  width: 146px;
  height: 146px;
  position: absolute;
  left: 50%;
  margin-left: -73px;
  top: 50%;
  margin-top: -73px;
  z-index: 4;
  background: #FAE19E;
  background: -webkit-linear-gradient(to bottom right, #FAE19E, #D5A100, #644C19);
  background: -moz-linear-gradient(to bottom right, #FAE19E, #D5A100, #644C19);
  background: linear-gradient(to bottom right, #FAE19E, #D5A100, #644C19);
}

div.back2 {
  width: 146px;
  height: 146px;
  position: absolute;
  left: 50%;
  margin-left: -73px;
  top: 50%;
  margin-top: -73px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 3;
  background: #EAB351;
  background: -webkit-linear-gradient(to right, #EAB351, #8E6A3D);
  background: -moz-linear-gradient(to right, #EAB351, #8E6A3D);
  background: linear-gradient(to right, #EAB351, #8E6A3D);
}

div.one {
  width: 120px;
  height: 40px;
  background-color: #FFFFFF;

  -webkit-border-radius: 40px 40px 5px 5px;
  -moz-border-radius: 40px 40px 5px 5px;
  border-radius: 40px 40px 40px 40px;
  position: relative;
  top: 110px;
  left: 50px;
  z-index: 5;
  margin: 40px auto 20px;
}

div.one:after, div.one:before {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
  z-index: -1;
}

div.one:after {
  width: 55px;
  height: 55px;
  top: -35px;
  left: 15px;

  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
}

div.one:before {
  width: 50px;
  height: 50px;
  top: -25px;
  right: 20px;

  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

/* Cloud number 2 */
div.two {
  width: 70px;
  height: 20px;
  background-color: #D2E2FF;

  -webkit-border-radius: 35px 35px 5px 5px;
  -moz-border-radius: 35px 35px 5px 5px;
  border-radius: 35px 35px 35px 35px;
  position: relative;
  top: -140px;
  left: -100px;

  margin: 70px auto;
}

div.two:after, div.two:before {
  content: "";
  position: absolute;
  background-color: #D2E2FF;
  z-index: -1;
}

div.two:after {
  width: 35px;
  height: 35px;
  top: -20px;
  left: 10px;

  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
}

div.two:before {
  width: 25px;
  height: 25px;
  top: -15px;
  right: 10px;

  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
}

/* Cloud number 3 */
div.three {
  width: 70px;
  height: 20px;
  background-color: #B6CFFF;

  -webkit-border-radius: 30px 30px 5px 5px;
  -moz-border-radius: 30px 30px 5px 5px;
  border-radius: 35px 35px 35px 35px;
  position: relative;
  top: -280px;
  left: 80px;

  margin: 70px auto;
}

div.three:after, div.three:before {
  content: "";
  position: absolute;
  background-color: #B6CFFF;
  z-index: -1;
}

div.three:after {
  width: 35px;
  height: 35px;
  top: -20px;
  left: 10px;

  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
}

div.three:before {
  width: 25px;
  height: 25px;
  top: -15px;
  right: 10px;

  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
}

