body {
  background-color: #648EF3;
}

div.content {
  position: relative;
  width: 500px;
  height: 500px;
}

div.sun {
  width: 220px;
  height: 220px;
  position: relative;
  left: 100px;
  background-color: #648EF3;
  border: 2px solid red;
}

div.center {
  position: absolute;
  left: 50%;
  margin-left: -80px;
  top: 50%;
  margin-top: -80px;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: #F8E254;
  z-index: 5;
}

div.back.one {
  width: 146px;
  height: 146px;
  position: absolute;
  left: 50%;
  margin-left: -73px;
  top: 50%;
  margin-top: -73px;
  z-index: 4;
  background: linear-gradient(to bottom right, #F0CF74, #C89A34, #7C6128);
}

div.back.two {
  width: 146px;
  height: 146px;
  position: absolute;
  left: 50%;
  margin-left: -73px;
  top: 50%;
  margin-top: -73px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 3;
  background: linear-gradient(to right, #DEAB3B, #936E31);
}

div.cloud {
}

div.cloud.one {
  width: 200px;
  height: 100px;
  background-color: #FFFDFF;

  -webkit-border-radius: 100px;
  border-radius: 100px;
  position: relative;

  margin: 120px auto 20px;
}

div.cloud:after div.cloud:before {
  content: "";
  position: absolute;
  background-color: #FFFDFF;
  z-index: -1;
}

div.cloud:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 50px;

  -webkit-border-radius: 100px;
  border-radius: 100px;
}

div.cloud:before {
  width: 180px;
  height: 180px;
  top: -90px;
  right: 50px;

  -webkit-border-radius: 200px;
  border-radius: 200px;
}