body {
  font-family: Arial;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.date {
  padding-top: 10px;
}

/* Headers */
h1 {
  font-size: 45px;
}

h2 {
  font-size: 28px;
}

/* Top navigation bar */
.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navigation {
  height: 120px;
  padding-top: 40px;
}

/* Nav logo */
.nav-logo {
  width: 40px;
  height: 35px;
}

.main-logo {
  stroke: #0C7BF8;
}

/* Nav menu bars */
.nav-menu {
  margin-left: 20px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.nav-menu::after {
  box-shadow: 0 7px #0C7BF8, 0 12px #0C7BF8, 0 17px #0C7BF8;
  content: "";
  display: block;
  width: 30px;
  height: 2px;
}

/* Navigation Content */
.nav-content {
  padding-top: 20px;
}

.nav-content li {
  height: 60px;
  list-style: none;
  display: inline-block;
  margin-right: 25px;
  color: #707070;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

.nav-content li.active {
  color: #000000;
  border-bottom: 4px solid #0C7BF8;
}

/* Search bar */
.search {
  width: 100px;
  height: 40px;
  font-size: 12px;
  float: right;
  clear: both;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

/* Content */
.content {
  padding-top: 80px;
}

.cool-guy {
  color: #FFFFFF;
  height: 520px;
  padding-top: 365px;
  padding-left: 85px;
  background-image: url("Cool-guy.png");
  background-size: cover;
}

/* Center left box */
.triangle-shape {
  display: block;
  width: 0;
  height: 0;
  border-left: 105px solid transparent;
  border-right: 105px solid transparent;
  border-bottom: 180px solid #FFE004;
  margin: 0 auto;
  margin-bottom: 65px;
}

.blue-box {
  color: #FFFFFF;
  height: 500px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 75px;
  margin-right: 5px;
  background-color: #0C7BF8;
}

/* Center middle box */
.yellow-box {
  height: 500px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 75px;
  background-color: #FFE004;
}

.yellow-box img {
  display: block;
  margin: 0 auto;
  margin-bottom: 42px;
}

/* Center right - Subscribe Box */
.subscribe {
  height: 290px;
  background-color: #EDEDED;
  padding-left: 50px;
  padding-top: 50px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.subscribe h2 {
  color: #2A2A2A;
}

.subscribe p {
  padding: 20px 0;
  color: #ADADAD;
}

.subscribe-input {
  display: block;
  width: 290px;
  height: 50px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  padding: 0 20px;
}

.subscribe-btn {
  display: block;
  color: #FFFFFF;
  background-color: #0C7BF8;
  border: none;
  font-size: 15px;
  width: 170px;
  height: 50px;
  border-radius: 25px;
}

/* Center right - Join Box */
.join-logo {
  float: left;
  margin-right: 20px;
  width: 55px;
  height: 55px;
}

.join-trp {
  stroke: #626262;
}

.join {
  height: 190px;
  background-color: #363636;
  padding-top: 70px;
  padding-left: 50px;
  margin-left: 5px;
}

.join h2 {
  color: #FFFFFF;
  display: inline-block;
}

.join p {
  color: #9C9C9C;
  display: inline-block;
}

/* Bottom two images */
.bottom {
  height: 380px;
  margin-bottom: 75px;
  padding-top: 260px;
  padding-left: 65px;
}

.image {
  background-color: #131216;
  color: #FFFFFF;;
}

.left-image {
  margin-right: 10px;
  background-image: url("Journal.png");
  background-size: cover;
}

.right-image {
  background-image: url("Couple.png");
  background-size: cover;
}

.box {
  margin-bottom: 24px;
}

/* Footer */

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 170px;
  padding-top: 70px;
}

.security {
  color: #969696;
}

/* Share Trippeo */
.share {
  color: #969696;
}
