body {
  font-family: 'monospace';
}

#wrapper {
  -webkit-perspective: 8000px;
  -webkit-perspective: 50% 200px;
}

#cube {
  position: relative;
  margin: 0 auto;
  height: 500px;
  width: 500px;
  padding: 20px;
  -webkit-transition: -webkit-transform 2s linear;
  -webkit-transform-style: preserve-3d;
}

.face {
  position: absolute;
  height: 400px;
  width: 400px;
}

.quote {
  padding: 50px;
  color: #FFFFFF;
  font-size: 25px;
}

/* top face  ok*/
#cube .one {
  -webkit-transform: rotateX(90deg) translateZ(200px);
  background-color: #2ecc71;
}

/* front face */
#cube .two {
  -webkit-transform: translateZ(200px);
  background-color: #1abc9c;
}

/* right side ok */
#cube .three {
  -webkit-transform: rotateY(90deg) translateZ(200px);
  background-color: #3498db;
}

/* left side ok */
#cube .four {
  -webkit-transform: rotateY(-90deg) translateZ(200px);
  background-color: #9b59b6;
}

/* back face */
#cube .five {
  -webkit-transform: rotateY(180deg) translateZ(200px);
  background-color: #e74c3c;
}

/* bottom face ok */
#cube .six {
  -webkit-transform: rotateX(-90deg) translateZ(200px);
  background-color: #e67e22;
}