body {
  background-color: #000000;
  font-family: 'Arial', sans-serif;
}

#piechart {
  padding-top: 80px;
  width: 650px;
  height: 550px;
  margin: 0 auto;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
  word-spacing: 20px;
}

a:link {
  color: #F6E3CE;
  text-transform: uppercase;
  text-decoration: none;
}

a:visited{
  color: #2E64FE;
}