body {

}

.content {
  width: 900px;
  height: 600px;
  margin: 0 auto;
  background-color: blue;
  position: relative;
}
/*----------------ROCKET TRAIL---------*/
.rocket-trail {
  width: 380px;
  height: 250px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}
.trail-block {
  width: 25%;
  height: 100%;
  display: inline-block;
  float: left;
}
.trail-block:nth-child(even){
  margin-top: -20px;
}
.rainbow {
  width: 100%;
  height: 100%;
}
.rainbow li {
  height: 16.6%;
  width: 100%;
}
.rainbow li:first-child {
  background-color: #FF0000;
}
.rainbow li:nth-child(2) {
  background-color: #FF9800;
}
.rainbow li:nth-child(3) {
  background-color: #FEFE00;
}
.rainbow li:nth-child(4) {
  background-color: #32FE00;
}
.rainbow li:nth-child(5){
  background-color: #0098FE;
}
.rainbow li:nth-child(6) {
  background-color: #6533FF;
}
/*----------------WAGON---------------*/
.wagon-container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 520px;
  height: 220px;
  background-color: gray;
}

.wagon-container .wagon {
  width: 300px;
  height: 80px;
  background-color: #C30D0D;
  position: absolute;
  left: 140px;
  top: 60px;
  z-index: 4;
}
.wagon-container .wagon-top {
  width: 320px;
  height: 20px;
  left: 130px;
  top: 50px;
  position: relative;
  background-color: #CC0C24;
  z-index: 5;
}

/*-----------WAGON ADD-ONS-------------*/
.tape {
  background-color: #7D899C;
  position: absolute;
  left: 150px;
  top: 50px;
  width: 22px;
  height: 50px;
  z-index: 6;
}
.tape:before {
  background-color: #7D899C;
  display: inline-block;
  content: "";
  width: 22px;
  height: 50px;
  z-index: 6;
  left: 200px;
  position: relative;
}
.wing {
  border-bottom: 10px solid #B67D5A;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  width: 160px;
  height: 0;
  position: absolute;
  left: 170px;
  top: 90px;
  z-index: 7;
}
.wing:before {
  display: inline-block;
  width: 160px;
  top: 10px;
  height: 8px;
  background-color: #9e6f42;
  content: "";
  position: absolute;
}
.frontbar {
  width: 110px;
  height: 15px;
  position: absolute;
  background-color: #4B291B;
  left: 390px;
  top: 143px;
  z-index: 2;
  border-radius: 0 3px 10px 0;
}
.frontbar:after {
  display: inline-block;
  content: "";
  width: 100px;
  height: 15px;
  position: absolute;
  left: 40px;
  top: -50px;
  background-color: #4B291B;
  z-index: 2;
  transform: rotate(75deg);
  border-radius: 0 2px 0 0;
}
.frontbar:before {
  display: inline-block;
  content: "";
  width: 26px;
  height: 46px;
  background-color: #4B291B;
  z-index: 2;
  position: absolute;
  top: -135px;
  left: 58px;
  transform: rotate(-15deg);
  border-radius: 2px;
}

/* ----------- WHEEL BARS ---------- */
.bar {
  background-color: #68443B;
  width: 50px;
  height: 20px;
  position: absolute;
  display: inline-block;
  z-index: 3;
}

.bar.left {
  left: 170px;
  top: 135px;
  transform: rotate(-50deg);
  z-index: 0;
}

.bar.right {
  left: 360px;
  transform: rotate(50deg);
  top: 140px;
}
/* -----------  WHEELS-------------- */
.wheel {
  width: 60px;
  height: 60px;
  background-color: #181818;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  z-index: 4;
}

.wheel.left {
  left: 140px;
}

.wheel.right {
  left: 380px;
}

.wheel > .middle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7C8998;
  position: relative;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}

.middle > .center {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #434040;
  position: relative;
  left: 50%;
  margin-left: -10px;
  top: 25%;
}

/* ------------- BROOM ----------- */ 
.broomstick {
  background-color: #C1956B;
  width: 300px;
  height: 15px;
  border-radius: 0 10px 10px 0;
  position: absolute;
  left: 110px;
  top: 75px;
  z-index: 5;
}
.broom {
  position: absolute;
  background-color: #D19654;
  width: 115px;
  height: 80px;
  top: 40px;
  left: 0;
  border-radius: 0 40px 40px 0;
  z-index: 5;
}
.broomstring {
  width: 5px;
  height: 80px;
  background-color: #830300;
  position: relative;
  left: 70px;
}
.broomstring:after {
  display: inline-block;
  content: "";
  width: 5px;
  height: 80px;
  background-color: #830300;
  position: absolute;
  left: -25px;
}
.broomstring:before {
  display: inline-block;
  content: "";
  width: 5px;
  height: 80px;
  background-color: #830300;
  position: relative;
  left: -16px;
}

