body {
  text-align: center;
  }

h1 {
  font-family: Helvetica;
  padding-top: 25px;
  font-weight: 600;
  font-size: 50px;
}

.intro {
  font-family: Helvetica;
  font-weight: 500;
  padding-bottom: 15px;
  font-size: 20px;
  color: orange;
}

.cookie {
  padding: 25px;
}

.eat {
  padding: 20px;
}

input {
  background-color: white;
  display: inline-block;
  height: 50px;
  width: 300px;
  border: 2px solid black;
  font-size: 20px;
}

.fortune {
  padding-top: 10px;
  font-family: Arial;
  font-size: 25px;
  font-weight: 200;
}

.eaten {
  font-family: Helvetica;
  font-size: 20px;
}

#cookies {
  color: red;
}