body {
  background-color: #E8E8E8;
  font-family: 'Verdana', 'sans serif';
  text-align: center;
  font-size: 18px;
}

.navigation {
  position: absolute;
  font-size: 16px;
  left: 20px;
  top: 15px;
  word-spacing: 20px;
}

a:link {
  text-decoration: none;
  color: #383838;
}

a:visited{
  text-decoration: underline;
  color: #383838;
}

h1 {
  padding: 30px;
}

canvas {
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
