body {
  font-family: 'Arial';
}

/* Content area */
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  height: 500px;
  margin: 0 auto;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  transition-property: all;
  transition-duration: 1s;
}

/* Top Navigation Bar */
.navigation {
  height: 30px;
  width: 100vw;
  line-height: 30px;
  background-color: #474742;
  text-align: right;
}

.navigation a {
  color: #436CC4;
  font-size: 15px;
  text-decoration: none;
  margin-right: 20px;
}

/* Menu */
.menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: #0ac2d2;
  text-align: center;
  visibility: hidden;

  transition-property: all;
  transition-duration: 1s;
}

.menu-wrapper ul li a {
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

/* Open Menu */
.menu-wrapper.menu-open {
  visibility: visible;
  width: 20%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Effect 1: Slide from left on top */
.effect-1 {
  visibility: hidden;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* Effect 2: Slide together from left*/ 
.effect-2 {
  visibility: hidden;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.content-effect-2 {
  -webkit-transform: translate3d(20%, 0, 0);
  transform: translate3d(20%, 0, 0);
}

/* Effect 3 - rotate in */
.effect-3 {
  visibility: hidden;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-origin: top left 0;
  transform: rotateY(90deg);
  transform-origin: top left 0;
}

.content-effect-3 {
  -webkit-transform: translate3d(10%, 0, 0);
  transform: translate3d(10%, 0, 0);
}