body {
  background-color: #000000;
  font-family: 'PT Sans', sans-serif;
}

/* Content area */
.content {
  background-color: #FAFADE;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  transition-property: all;
  transition-duration: 1s;
}

.content h1 {
  color: #5B27C2;
  font-size: 45px;
  padding: 15px;
}

.content p {
  color: #8A8787;
  font-size: 25px;
  padding-bottom: 100px;
}

/* Top Navigation Bar */
.navigation {
  height: 30px;
  width: 100vw;
  line-height: 30px;
  background-color: #FFFFFF;
  text-align: right;
  margin-bottom: 50px;
}

.navigation a {
  color: #5B27C2;
  font-size: 15px;
  text-decoration: none;
  margin-right: 20px;
}

/* Cover */
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: none;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: default;
}

.buttons {
  width: 30%;
  display: inline-block;
  margin: 0 auto;
}

/* Menu */
.menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 18%;
  height: 100%;
  background-color: #5B27C2;
  text-align: center;
  visibility: hidden;

  -moz-transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  transition-property: all;
  transition-duration: 1s;
}

/* Open Menu */
.menu-wrapper.menu-open {
  visibility: visible;
  width: 18%;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.menu-wrapper ul li {
  color: #FAFADE;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 0 20px 0;
}

.menu-wrapper ul li:hover {
  background-color: #481F9A;
  cursor: pointer;
}

.menu-wrapper h2 {
  color: #FAFADE;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #FAFADE;
}

.menu-wrapper a:link {
  text-decoration: none;
}

.menu-wrapper a:visited {
  color: #FAFADE;
  text-decoration: none;
}

/* Effect buttons */
.effect-btn {
  cursor: pointer;
  text-transform: uppercase;
  background-color: #5B27C2;
  border: none;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 3px;
  color: #FAFADE;
  margin: 5px;
}

.effect-btn:hover {
  background-color: #491DA1;
}

/* Effect 1: Slide from left on top */
/* Effect 2: Slide together from left*/ 
.effect-1, .effect-2, .effect-3 {
  visibility: hidden;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.content-effect-2 {
  -webkit-transform: translate3d(18%, 0, 0);
  transform: translate3d(18%, 0, 0);
}

/* Effect 3: Bumper Cars */

.effect-3.menu-open {
  -moz-animation: bumpity 1s;
  -webkit-animation: bumpity 1s;
  animation: bumpity 1s;
}

@-moz-keyframes bumpity {
  0% {
    -moz-transform: translate3d(-100%, 0, 0);
    -moz-animation-timing-function: ease-out;
  }
  50% {
    -moz-transform: translate3d(18%, 0, 0);
    -moz-animation-timing-function: ease-in;
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -moz-animation-timing-function: ease-out;
  }
}

@-webkit-keyframes bumpity {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -webkit-animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: translate3d(18%, 0, 0);
    -webkit-animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation-timing-function: ease-out;
  }
}

@keyframes bumpity {
  0% {
    transform: translate3d(-100%, 0, 0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translate3d(18%, 0, 0);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate3d(0, 0, 0);
    animation-timing-function: ease-out;
  }
}

/* Effect 4 - rotate in */
.effect-4 {
  visibility: hidden;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: top left 0;
  transform-origin: top left 0;
  perspective: 100;
  -webkit-perspective: 100;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.effect-4.menu-open {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-origin: top left 0;
  transform-origin: top left 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.content-effect-4 {
  -webkit-transform: translate3d(18%, 0, 0);
  transform: translate3d(18%, 0, 0);
}

/* Effect 5 - Reveal */ 
.effect-5 {
  z-index: -1;
}

.content-effect-5 {
  -webkit-transform: translate3d(18%, 0, 0);
  transform: translate3d(18%, 0, 0);
}

/* Effect 6 - Expand */
.effect-6 {
  -webkit-transform: scale(0, 0.1);
  transform: scale(0.01, 0.01);
  transform-origin: top left 0;
}
