body {
  background-color: #E3DBD3;
  text-align: center;
  font-family: Tahoma, Arial;
  font-size: 20px;
}

.navigation {
  position: absolute;
  font-size: 18px;
  left: 25px;
  top: 15px;
  word-spacing: 25px;
}

a:link {
  color: #003FD1;
}

a:visited {
  color: #40280F;
}

.content {
  padding-top: 50px;
}

.coffee-header {
  font: bold 90px Open Sans, Impact;
  background-image: -webkit-linear-gradient(#40280F 50%, #FFFFFF 50%);
  background-image: linear-gradient(#40280F 50%, #FFFFFF 50%);
  background-repeat: no;
  background-position: 0 0;
  background-size: 100% 200%;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.coffee-drain {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation: drain 3s ease-out;
  -moz-animation-fill-mode: forwards;
  -moz-animation: drain 3s ease-out;
  -o-animation-fill-mode: forwards;
  -o-animation: drain 3s ease-out;
  animation: drain 3s ease-out;
  animation-fill-mode: ease-out;
}

@-webkit-keyframes drain {
  100% {background-position: 0 100px;}
}

@-moz-keyframes drain {
  100% {background-position: 0 100px;}
}

@-o-keyframes drain {
  100% {background-position: 0 100px;}
}

@keyframes drain {
  100% {background-position: 0 100px;}
}

.missing-input {
  border: 1px solid #FF0000;
}

.question {
  font-family: 'Grand Hotel', cursive;
  font-size: 38px;
  padding: 25px;
}

#cost {
  width: 200px;
  font-size: 18px;
  margin-bottom: 20px;
}

/* Calculate button */
#calculate {
  color: #E3DBD3;
  width: 150px;
  padding: 5px;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color: #094EED;
}

#calculate:hover {
  background-color: #003FD1;
}

.result {
  display: none;
  margin: 20px auto;
  background-color: #FFFFFF;
  width: 350px;
  height: 300px;
  color: #40280F;
}

.yearly-costs {
  padding: 15px;
}

.impact-cost {
  color: #000000;
  font: bold 26px Open Sans, Impact;
}

