body {
  background-color: #000000;
}

.dog-container {
  position: relative;
  left: 200px;
  width: 250px;
}

.head {
  position: absolute;
  top: 48px;
  width: 200px;
  height: 200px;
  background-color: #FFFFFF;
  border-radius: 30% 30% 50% 50% / 80% 80% 45% 45%;
}

.ear {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid #FFFFFF;
}

#left-ear {
  left: 4px;
  transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
}

#right-ear {
  right: 54px;
  transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
}
