.origami {
  width: 410px;
  height: 400px;
  border: 1px solid #000000;
  background-color: #000000;
  position: relative;
}

div > * {
  position: absolute;
}

.cherry {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 48px solid #FE2EC8;
  z-index: 100;
  top: 130px;
  left: 180px;
}

.top {
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-bottom: 30px solid #FFFFFF;
}

.top.left {
  top: 130px;
  left: 158px;
}

.top.right {
  top: 130px;
  left: 218px;
}

.icing {
  top: 160px;
  border-bottom: 40px solid #FFFFFF;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  width: 188px;
  left: 100px;
}

.lower {
  top: 200px;
}

.bottom.left{
  border-top:  120px solid #FE2EC8;
  border-left: 20px solid transparent;
  height: 0;
  left: 100px;
  width: 104px;
}

.bottom.right{
  border-top:  120px solid #FE2EC8;
  border-right: 20px solid transparent;
  height: 0;
  width: 100px;
  left: 204px;
}

.triangle.pink {
  width: 0;
  height: 0;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  border-bottom: 30px solid #FE2EC8;
  z-index: 5;
}

.triangle.one {
  left: 128px;
}

.triangle.two{
  left: 184px;
}

.triangle.three{
  left: 240px;
}

.triangle.white {
  width: 0;
  height: 0;
  background-color: transparent;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  border-top: 30px solid #FFFFFF;
  z-index: 10;
}

.triangle.first {
  left: 100px;
}

.triangle.second {
  left: 156px;
}

.triangle.third {
  left: 212px;
}

.triangle.fourth {
  left: 268px;
}