body {

}

.flower-container {
  display: inline-block;
  width: 120px;
  height: 500px;
}

.petal-container {
  width: 120px;
  height: 100px;
  position: relative;
}

.petal {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 0 50px 50px 50px;
}

.color-1 {
  background-color: red;
}

.color-2 {
  background-color: yellow;
}

.color-3 {
  background-color: blue;
}

/* left petal */
.left-petal {
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

/* middle petal */
.middle-petal {
  -ms-transform: rotate(80deg);
  -webkit-transform: rotate(80deg);
  transform: rotate(80deg);
}

/* right petal */
.right-petal {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.stem {
  background-color: green;
  margin-left: 45px;
  width: 10px;
  height: 150px;
}
