body {
  background-color: #F3F5DF;
}

/* Sunset */
.sun-container {
  position: relative;
  width: 12em;
  height: 12em;
  margin: 200px auto 0 auto;
}
/* sun */
.sun {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #FF6F5D, #FF427D 60%);
  border-radius: 50%;
  position: absolute;
  -webkit-clip-path: inset(0 0 50px 0);
  clip-path: inset(0 0 50px 0);
}

.water {
  background-color: #01D9D9;
  left: 50%;
  position: absolute;
  border-radius: 1em;
  height: 0.5em;
  -webkit-transform: translateX(-50%);
}

.water.top {
  width: 9.4em;
  bottom: 1.8em;
}

.water.bottom {
  width: 6.5em;
  bottom: 0.6em;
}
