body {

}

.wrapper {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  background: #FFFFFF;
}

.pie {
  width: 50%;
  height: 100%;
  position: absolute;
  background: #0088cc;
  border: 10px solid rgba(0,0,0,0.4);

  -webkit-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.spinner {
  margin-left: -10px;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;

  animation: rotate 10s linear infinite;
  -webkit-animation: rotate 10s linear infinite;
  -moz-animation: rotate 10s linear infinite;
  -o-animation: rotate 10s linear infinite;
}

.filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  border-left: none;
  left: 50%;
  opacity: 0;
  z-index: 100;

  animation: fill 10s steps(1, end) infinite;
  -webkit-animation: fill 10s steps(1, end) infinite;
  -moz-animation: fill 10s steps(1, end) infinite;
  -o-animation: fill 10s steps(1, end) infinite;
}

.mask {
  width: 55%;
  height: 110%;
  margin-top: -3px;
  margin-left: -13px;
  position: absolute;
  z-index: 300;
  opacity: 1;
  background: inherit;

  -webkit-animation: fill 10s steps(1, end) reverse;
  -moz-animation: fill 10s steps(1, end) reverse;
  -o-animation: fill 10s steps(1, end) reverse;
  animation: fill 10s steps(1, end) reverse;
}

/* rotate animation */

@-webkit-keyframes rotate {
  0% { transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@-moz-keyframes rotate {
  0% { transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@-o-keyframes rotate {
  0% { transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes rotate {
  0% { transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


/* Fill animation */

@-webkit-keyframes fill {
  0% { opacity: 0; }
  50%, 100% { opacity: 1; }
}

@-moz-keyframes fill {
  0% { opacity: 0; }
  50%, 100% { opacity: 1; }
}

@-o-keyframes fill {
  0% { opacity: 0; }
  50%, 100% { opacity: 1; }
}

@keyframes fill {
  0% { opacity: 0; }
  50%, 100% { opacity: 1; }
}