body{
}

.navigation {
  font-size: 20px;
  font-family: 'Arial';
  position: absolute;
  left: 15px;
  right: 15px;
}

h1 {
  text-align: center;
}

.box {
  position: relative;
  margin: auto;
  width: 600px;
  height: 500px;
  border: 2px solid #000000;
  padding: 0px;
  background-color: #FFFFCC; 
  }

#horizontal {
  position: relative;
  width: 100px;
  height: 400px;
  -webkit-animation-name: travel;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 3s;
  -moz-animation-name: travel;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 3s;
  -o-animation-name: travel;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  -o-animation-duration: 3s;
  animation-name: travel;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 3s;

}

#vertical {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: radial-gradient(circle at 50px 30px, #66FFFF, #0066FF);
  bottom: 0px;
  -webkit-animation-name: bounce;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  -moz-animation-name: bounce;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 3s;
  -o-animation-name: bounce;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 3s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@-webkit-keyframes travel {
  0% {left: 0px;}
  99% {left: 495px; width: 110px; height: 100px; }
  100% {left: 500px; width: 100px; height: 100px;}
}

@-o-keyframes travel {
  0% {left: 0px;}
  99% {left: 495px; width: 110px; height: 100px; }
  100% {left: 500px; width: 100px; height: 100px;}
}
@-moz-keyframes travel {
  0% {left: 0px;}
  99% {left: 495px; width: 110px; height: 100px; }
  100% {left: 500px; width: 100px; height: 100px;}
}
@keyframes travel {
  0% {left: 0px;}
  99% {left: 495px; width: 110px; height: 100px; }
  100% {left: 500px; width: 100px; height: 100px;}
}

@-webkit-keyframes bounce {
  0% {top: 0px; -webkit-animation-timing-function: ease-out;}
  50% {top: 400px; -webkit-animation-timing-function: ease-in;}
  100% {top: 0px; -webkit-animation-timing-function: ease-out;}
}

@-o-keyframes bounce {
  0% {top: 0px; -o-animation-timing-function: ease-out;}
  50% {top: 400px; -o-animation-timing-function: ease-in;}
  100% {top: 0px; -o-animation-timing-function: ease-out;}
}

@-moz-keyframes bounce {
  0% {top: 0px; -moz-animation-timing-function: ease-out;}
  50% {top: 400px; -moz-animation-timing-function: ease-in;}
  100% {top: 0px; -moz-animation-timing-function: ease-out;}
}

@keyframes bounce {
  0% {top: 0px; animation-timing-function: ease-out;}
  50% {top: 400px; animation-timing-function: ease-in;}
  100% {top: 0px; animation-timing-function: ease-out;}
}

a:link {
  color: #0066FF;
}
