body {
  background-color: #CBFEFC;
  text-align: center;
}

canvas {
  position: relative;
  margin: 0 auto;
  top: 0;
  bottom: 0;
}

.navigation {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.instruction {
  padding-top: 80px;
  font-size: 20px;
  z-index: 50;
}

