body {
  background-color: #EFFBF5;
  text-align: center;
  font-family: 'Verdana', 'sans serif';
}

canvas {
  position: relative;
  margin: 0 auto;
  top: 0;
  bottom: 0;
}

.navigation {
  position: absolute;
  left: 20px;
  bottom: 20px;
  word-spacing: 20px;
}

a:link {
  color: #0B3B24;
  text-decoration: none;
}

a:visited{
  color: #610B4B;
  text-decoration: underline;
}

.instruction {
  -webkit-user-select: none;
  -moz-user-select:none;
  -ms-user-select: none;
  padding-top: 80px;
  font-size: 18px;
  color: #A4A4A4;
  letter-spacing: 2px;
  z-index: 50;
}

