body {
  background-color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

.navigation {
  text-align: right;
  height: 20px;
  background-color: #F5AA93;
}

.btn-wrapper{
  padding-top: 100px;
  width: 500px;
  margin: 0 auto;
}

.btn {
  position: relative;
  color: black;
  font-size: 18px;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  width: 180px;
  margin: 10px 20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;

  -o-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/* 1: Fade */
.style1:hover {
  background-color: blue;
}

/* 2: Fill from bottom */
.style2:hover {
  color: blue;
}

.style2:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -0-transition: top 0.5s ease-in;
  -moz-transition: top 0.5s ease-in;
  -webkit-transition: top 0.5s ease-in;
  transition: top 0.5s ease-in;
}

.style2:hover:before{
  top: 0;
}

/* 3: Fill from Top */
.style3:hover {
}

.style3:before {
  content: "";
  position: absolute;
  background: #383736;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  -webkit-transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  -webkit-transition-property: transform;
    transition-duration: 1s;
}

.style3:hover:before{
  -webkit-transform: scaleY(1);

}



