.content {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -250px;
    height: 500px;
    width: 600px;
    background: rgba(0, 0, 0, 0.1);
    
    border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.envelope {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -150px;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 135px;
  z-index: 30;
  overflow: hidden;

  -webkit-transform-origin: top;
  -webkit-transition: -webkit-transform 400ms 200ms, top 200ms 0ms;

}

.envelope:hover .top {
  top: 30px;
  z-index: 0;

  -webkit-transition: -webkit-transform 300ms 0ms, top 400ms 200ms;

  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.envelope:hover .outer {

  -moz-transition: z-index 300ms;
  -o-transition: z-index 300ms;
  transition: z-index 300ms;

  z-index: -1;
}

.envelope:hover .left {
  top: 30px;

  -webkit-transition: top 400ms 200ms;
  -moz-transition: top 400ms 200ms;
  -o-transition: top 400ms 200ms;
  transition: top 400ms 200ms;
}

.envelope:hover .right {
  top: 30px;

  -webkit-transition: top 400ms 200ms;
  -moz-transition: top 400ms 200ms;
  -o-transition: top 400ms 200ms;
  transition: top 400ms 200ms;
}


.envelope:hover .bottom {
 bottom: -30px;

  -webkit-transition: bottom 400ms 200ms;
  -moz-transition: bottom 400ms 200ms;
  -o-transition: bottom 400ms 200ms;
  transition: bottom 400ms 200ms;
}


.outer {
  position: absolute;
  top: 0;
  left: 10px;
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-top: 120px solid #000000;

  -webkit-transition: z-index 0ms 300ms;
  -moz-transition: z-index 0ms 300ms;
  -o-transition: z-index 0ms 300ms;
  transition: z-index 0ms 300ms;

}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 130px solid #FFFFFF;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 145px solid #000000;
  border-top: 100px solid transparent;
  border-bottom: 95px solid transparent;
  z-index: 2;

  -webkit-transition: top 200ms;
  -moz-transition: top 200ms;
  -o-transition: top 200ms;
  transition: top 200ms;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  border-right: 145px solid #000000;
  border-top: 100px solid transparent;
  border-bottom: 95px solid transparent;
  z-index: 2;

  -webkit-transition: top 200ms;
  -moz-transition: top 200ms;
  -o-transition: top 200ms;
  transition: top 200ms;
}

.bottom {
  position: absolute;
  left: 5px;
  bottom: 0;
  border-right: 145px solid transparent;
  border-left: 145px solid transparent;
  border-bottom: 95px solid #000000;
  z-index: 2;

  -webkit-transition: bottom 200ms;
  -moz-transition: bottom 200ms;
  -o-transition: bottom 200ms;
  transition: bottom 200ms;
}

.envelope:hover .back {
  top: 30px;

  -webkit-transition: top 400ms 200ms;
  -moz-transition: top 400ms 200ms;
  -o-transition: top 400ms 200ms;
  transition: top 400ms 200ms;
}

.back {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 0;
  background-color: red;
  z-index: -1;

  -webkit-transition: top 200ms;
  -moz-transition: top 200ms;
  -o-transition: top 200ms;
  transition: top 200ms;
}
