.content {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -250px;
    height: 500px;
    width: 600px;
    background: rgba(0, 0, 0, 0.1);
    
    border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.envelope {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: #FFFFFF;
  border: 1px solid black;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 135px;
  z-index: 30;
  overflow: hidden;

  -webkit-transform-origin: top;
  -webkit-transition: -webkit-transform 300ms;
}

.envelope:hover .top {
  -webkit-transition: -webkit-transform 300ms 0ms, top 400ms 200ms;
  top: 30px;

  -webkit-transform: rotateX(180deg);
}

.outer {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-top: 120px solid yellow;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 130px solid blue;
}


.left {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 145px solid red;
  border-top: 100px solid transparent;
  border-bottom: 95px solid transparent;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  border-right: 145px solid red;
  border-top: 100px solid transparent;
  border-bottom: 95px solid transparent;
}

.bottom {
  position: absolute;
  left: 5px;
  bottom: 0;
  border-right: 145px solid transparent;
  border-left: 145px solid transparent;
  border-bottom: 95px solid green;
}

.message {
  position: absolute;
  z-index: -1;
  width: 300px;
  height: 200px;
  top: 0;
  background-color: purple;
  margin: 0 auto;
}
