body {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 22px;
}

.navigation {
  position: absolute;
  left: 30px;
  top: 25px;
  word-spacing: 30px;
}

a:link {
  color: #303030;
}

a:visited {
  color: #2F4F4F;
}

h1 {
  font-size: 35px;
  padding: 50px;
}

.explain {
  padding: 20px;
}

.doors {
  width: 650px;
  height: 300px;
  margin: 0 auto;
}

div.door {
  position: relative;
  float: left;
  width: 150px;
  height: 250px;
  margin: 30px;
}

div.info {
  width: 300px;
  height: 100px;
  text-align: center;
  margin: 20px auto;
  font-size: 25px;
  padding: 30px;
}

img.pic {
  width: 150px;
  height: 250px;
  z-index: 5;
}

input.switch {
  font-family: 'Verdana';
  background-color: #FF0000;
  border: 2px solid #000000;
  font-size: 20px;
  width: 70px;
  margin: 20px;
  height: 40px;
  cursor: pointer;
}

input.switch:hover {
  color: #FFFFFF;
}

.selected {
  border: 5px solid #FF0000;
}

.prize {
  width: 150px;
  position: absolute;
  top: 100px;
  left: 5px;
  z-index: -3;
}

.switch {
  display: none;
}

.shown {
  background-color: #FF0000;
  width: 150px;
  height: 250px;
  -webkit-animation: open 0.75s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation: open 0.75s linear;
}

@-webkit-keyframes open {
  from {-webkit-transform: perspective(1000) rotateY(0deg);
        -webkit-transform-origin: 0% 0%;
      }
  to   {-webkit-transform: perspective(1000) rotateY(-100deg);
        -webkit-transform-origin: 0% 0%;
      }
}

@keyframes open {
  from {transform: perspective(300) rotateY(0deg);
        transform-origin: 0% 0%;
      }
  to   {transform: perspective(300) rotateY(-100deg);
      transform-origin: 0% 0%;}
}


