body {

}

.game-container {
  background-color: #000000;
  width: 460px;
  height: 460px;
  border-radius: 50%;
}

.button-container {
  position: relative;
  top: 20px;
  left: 20px;
  width: 420px;
  height: 420px;
}

.button {
  position: absolute;
  width: 200px;
  height: 200px;
}

.red {
  background-color: #CC0000;
}

.green {
  background-color: #00CC00;
}

.blue {
  background-color: #0000CC;
}

.yellow {
  background-color: #CCCC00;
}

#red {
  top: 0;
  left: 0;
  border-radius: 100% 0 0 0;
}

#green {
  top: 0;
  right: 0;
  border-radius: 0 100% 0 0;
}

#blue {
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 100%;
}

#yellow {
  bottom: 0;
  right: 0;
  border-radius: 0 0 100% 0;
}

#middle {
  position: absolute;
  left: 150px;
  top: 190px;
  background-color: #000000;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  z-index: 10;
}

.red-glow {
  background-color: #FF0000;
  box-shadow: 1px 1px 5px 5px #FFFFFF;
}

.green-glow{
  background-color: #00FF00;
  box-shadow: 1px 1px 5px 5px #FFFFFF;
}

.blue-glow {
  background-color: #0000FF;
  box-shadow: 1px 1px 5px 5px #FFFFFF;
}

.yellow-glow{
  background-color: #FFFF33;
  box-shadow: 1px 1px 5px 5px #FFFFFF;
}



