body {
  width: 100vw;
  height: 100vh;
  background-color: #009933;
  font-family: Arial;
}

.cookie {
  position: absolute;
  width: 150px;
  z-index: 5;
}

#santa {
  width: 300px;
  position: absolute;
  left: 50px;
  top: 150px;
  z-index: 10;
}

h1 {
  color: #FF0000;
  font-size: 60px;
  text-align: center;
  padding: 10px;
  text-shadow: 2px 2px #000000;
}

.navigation {
  position: absolute;
  top: 0px;
  left: 20px;
  word-spacing: 10px;
  font-size: 30px;
  padding: 10px;
  background-color: #FFFFFF;
}

#eaten {
  text-align: center;
  color: #FFFFFF;
  font-size: 30px;
}

a:link {
  color: #FF0000;
}