body {

}

.sticky {
  width: 200px;
  height: 200px;
  position: absolute;
}

.pad {
  width: 300px;
  height: 300px;
}

textarea {
  resize: none;
  border: none;
  background-color: transparent;
  outline: none;
}

.sticky-header  {
  height: 15px;
}

.sticky-body {
  padding: 15px;
}

.first {
  background-color: #FFFF99;
}

.second {
  background-color: #FCABAB;
}

.third {
  background-color: #CBFCAB;
}

.fourth {
  background-color: #ABF9FC;
}

.fifth {
  background-color: #FFA2DE;
}

.one {
  background-color: #FFD14E;
}

.two {
  background-color: #FF6C4E;
}

.three {
  background-color: #5CEC65;
}

.four {
  background-color: #688FFA;
}

.five {
  background-color: #FF61F0;
}