body {

}

.sticky {
  width: 200px;
  height: 200px;
  background-color: #FFFF99;
}

.pad {
  width: 300px;
  height: 300px;
}

textarea {
  resize: none;
  border: none;
  background-color: transparent;
  outline: none;
}

.sticky {
  position: absolute;
}

.sticky-header  {
  height: 15px;
  background-color: #FFE977;
}

.sticky-body {
  padding: 15px;
}
